@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #1D4ED8;
    /* --primary-color: red; */
}

body{
    font-family: 'Montserrat', sans-serif;  
}

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 36rem;
    margin: auto;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    /* background-color: var(--primary-color); */
    border-radius: 0.5rem;
}

.link-primary{
    background-color: var(--primary-color);
}

.link-secondary{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

hr{
    margin: 3rem 0rem;
}

.list__non-bullet{
    list-style: none;
}

.list__item{
    display: inline;


    
}

.links{
    text-decoration: none;
    color:white;
    margin: 1rem 0.5rem;

}

.navigation__list-div{
    text-align: right;
    padding: 0.5rem 1rem;
}

.navigation{
    background-color: var(--primary-color);
    margin: 0.5rem 1rem;
    /* border-radius: 0.5rem; */
    border-bottom-left-radius: 2rem;
}

.navigation__div{
    font-weight: bold;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

